name: Test

on: push

jobs:
  lint:
    name: Lint
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --dev --no-install-project
      - name: Lint
        run: .venv/Scripts/ruff.exe check

  build:
    name: Build & Test
    strategy:
      matrix:
        python-version:
          ["3.9", "3.10", "3.11", "3.12", "3.13", "3.13t", "3.14", "3.14t"]
        # architecture: ["x86", "x86_64"]
        architecture: ["x86"]
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: >
          uv sync --dev --no-install-project
          --python cpython-${{ matrix.python-version }}-windows-${{ matrix.architecture }}-none
      - name: Build
        run: uv build
      - name: Install the package
        run: uv pip install .
      - name: Test
        run: .venv/Scripts/pytest.exe test.py
